{% extends "layout.html" %}
{% block body %}
<div class="container">
    {% if event %}
        <h3>Name: {{ event.name }}</h3>
        <div>Type: {{ event.type }}</div>
        <div>Start Date: {{ event.start_date }}</div>
        <div>End Date: {{ event.end_date }}</div>
        <h4>Photos</h4>
        <ul>
            <form method="POST">
            {% for photo in event.photos %}
                <li>
                    <div>id of photo user: {{ photo.user_id }}</div>
                    <div>
                        <img src="{{ photo.url }}" class="img-fluid"/>
                    </div>
                    <div>{{ form.photo_id(value=photo.id) }}</div>
                    <div>{{ form.submit() }}</div>
                </li>
            {% endfor %}
            </form>
        </ul>
        {% if event.photos|length == 0 %}
            <div>No photos submitted yet.</div>
        {% endif %}
    {% else %}
        <div> Event not found. </div>
    {% endif %}
</div>
{% endblock %}