{% extends "layout.html" %}
{% block body %}
<div class="container">
    {% if event %}
        <h3>Name: {{ event.name }}</h3>
        <div>Type: {{ event.type }}</div>
        <div>Start Date: {{ event.start_date }}</div>
        <div>End Date: {{ event.end_date }}</div>
        {% if not current_user.is_anonymous %}
            <form method="post" enctype="multipart/form-data">
                {{ form.photo }}
                {{ form.submit()}}
            </form>
        {% endif %}
    {% else %}
        <div> Event not found. </div>
    {% endif %}
</div>
{% endblock %}